################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ImranTestApp/.vs/ImranTestApp/v15/Server/sqlite3
